---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  position: relative;
  min-height: 100%;
}

body {
  background-color: $black;
  font-family: 'EB Garamond', serif;
  line-height: 1.2;
  color: $white;
}

.container {
  position: relative;
  padding: 30px 30px;
  margin: 0px auto;
  width: 80%;
  
  @include mobile {
  width: 95%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'EB Garamond' serif;
  color: $white;
  font-weight: bold;

  line-height: 1.4;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.1;
  }
}

h1 {
  font-size: 36px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 22px;
  
	@include mobile {
	font-size: 18px;
	line-height: 1.4;
	}
}

a {
  color: $white;
  text-decoration: underline;
	cursor: pointer;
  &:hover, &:active {
    color: $lightGray;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
  font-size: 22px;
  
  @include mobile {
	font-size: 18px;
	line-height: 1.4;
	}
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.left-image {
    float: left;
    margin: 20px
}

.right-image {
    float: right;
    margin: 20px
}

.center-image {
    display: block;
    margin: 0 auto;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .dropdown-nav
//
.navigation {
	float: right;
	margin: 7px 85px 10px 0px;
	cursor: pointer;
	
	@include mobile {
	margin: 10px 20px 0px 0px;
	}
}

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  color: $white;
  padding: 8px 8px;
  
  a {
  text-decoration: none;
  }
  
  @include mobile {
  font-size: 22px;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $black;
  min-width: 170px;
  padding: 12px 16px;
  z-index: 1;
  color: $white;
  text-align: left;
  margin: 0px 0px 0px -40px;
  overflow: auto;
  
  a {
  color: $white;
  text-decoration: none;
  }
  
  @include mobile {
  min-width: 120px;
  margin: 0px 0px 0px -30px;
  padding: 8px 12px;
  }
}

.dropdown-nav-item {
	display: block;
	font-size: 24px;
	margin: 10px auto;
	padding: 15px auto;
	font-weight: 300;
	
	@include mobile {
	font-size: 20px;
	padding: 10px auto;
	margin: 7px auto;
	}
}
	
.dropdown-nav-child {
	display: block;
	text-align: right;
	font-size: 24px;
	padding: 15px auto;
	font-weight: 300;
	
	@include mobile {
	font-size: 18px;
	padding: 10px auto;
	margin: 7px auto;
	}
}

.dropdown:hover .dropdown-content {
  display: block;
}

@include mobile {
.dropdown:hover, .dropdown:focus, .dropdown:active .dropdown-content {
	display: block;
	}
}

.dropdown-nav-item.active,
a.dropdown-nav-item:hover,
a.dropwdown-nav-item:focus {
  text-decoration: none;
  background-color: $lightGray;
  opacity: 95%;
  border-color: transparent;
}

.dropdown-nav-child.active,
a.dropdown-nav-child:hover,
a.dropwdown-nav-child:focus {
  text-decoration: none;
  background-color: $lightGray;
  opacity: 95%;
  border-color: transparent;
}

//
// .masthead
//

.wrapper-masthead {
  width: 100%;
}


.site-info {
  float: left;
  margin: 90px 0px 0px 90px;
  
  @include mobile {
  	margin: 40px 0px 0px 30px;
  }
}

.site-name {
  margin: 0;
  color: $white;
  cursor: pointer;
  font-size: 56px;
  letter-spacing: 1px;
  
  a {
  text-decoration: none;
  }
  
  @include mobile {
  font-size: 36px;
  }
}

.site-description {
  margin: -12px 0 0 0;
  color: $white;
  font-size: 24px;
  font-weight: lighter;

  @include mobile {
    font-size: 18px;
    margin: 2px 0px 0px 0px;
  }
}

.site-byline {
	color: $white;
	font-style: italic;
	font-size: 28px;
	font-weight: lighter;
	
	@include mobile {
	font-size: 22px;
	}
}

.banner {
	position: relative;
	margin: -250px 0px 0px 0px;
	max-width: 100%;
	z-index: -10;
	border-bottom: solid 1px $white;
	
	@include mobile {
	margin: -150px 0px 0px 0px;
	}
}
//
// .index
//


.index-container {
	margin: 200px auto;
	width: 600px;
	padding: 0px 30px;
	text-align: center;
	
	@include mobile {
	margin: 140px auto;
	width: 85%;
	}
	}
	
.index-title {
	font-size: 65px;
	position: relative;
	font-weight: 900;
	color: $white;
	
	@include mobile {
	font-size: 46px;
	}
	}
	
.index-subtitle {
	font-size: 36px;
	position: relative;
	text-align: center;
	color: $white;
	
	@include mobile {
	font-size: 28px;
	}
	}

.index-description {
	margin: 160px 0px 20px 0px;
	font-style: italic;
	font-size: 48px;
	color: $white;
	
	@include mobile {
	font-size: 36px;
	margin: 0px 0px 20px 0px auto;
	}
	}

.index-nav {
	display: block;
	
	a {
  text-decoration: none;
  color: $white;
  }
	}
	
.index-nav-item {
  display: block;
  font-size: 36px;
  color: $white;
  font-weight: 300;
  line-height: .9;
  
  @include mobile {
  font-size: 24px;
  }
}

.index-nav-item.active,
a.index-nav-item:hover,
a.index-nav-item:focus {
  text-decoration: none;
  background-color: rgba(255,255,255,.1);
  border-color: transparent;
}

//
// .networkanalysis
//

    
#cy {
	max-width:100%;
    height:700px;
    background-color: #fff;
    
    @include mobile {
    width: auto;
    height: 500px;
    }
    } 

//
// .google-sheets
//
	
iframe {
	height: 700px;
	width: 100%;
	}
//
// .main
//
	
table {
	margin: 30px auto;
	border: solid 1px $white;
	width: 100%;

td {
	font-size: 22px;
	padding: 10px 10px 20px 10px;
	border: solid 1px $white;
	
	@include mobile {
	font-size: 18px;
	}
}
	
th {
	font-size: 22px;
	font-weight: 900;
	padding: 10px 10px;
	border: solid 1px $white;
	
	@include mobile {
	font-size: 18px;
	}
  }
}


footer {
  position: relative;
  text-align: center;
  background-color: $black;
  height: 150px;
  color: $white;
  a {
  color: $white;
  }
}

.copyright {
	position: relative;
	padding: 50px 50px;
	font-size: 13px;
	float: center;
	
	@include mobile {
	font-size: 11px;
	}
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
