---
layout: default
---
<div class="navigation">
<div class="dropdown">
  <span><a href="{{ site.baseurl }}/">MENU</a></span>
  <div class="dropdown-content">
    <a class="dropdown-nav-item" href="{{ site.baseurl }}/manuscripts">Manuscript Appendices</a>
    <a class="dropdown-nav-item" href="{{ site.baseurl }}/print">Print Appendices</a>
    <a class="dropdown-nav-item" href="{{ site.baseurl }}/author">About the Author</a>
    <a class="dropdown-nav-item" href="https://press.uchicago.edu/ucp/books/book/chicago/R/bo222256991.html">Buy the Book</a>
  </div>
</div>
</div>
	
      <header class="masthead clearfix">
            <div class="wrapper-masthead">
            <div class="site-info">
            <p class="site-byline">{{ site.byline }}</p>
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
        </div>
      </div>
      <img class="banner" src="{{ site.baseurl }}/images/reading-practice-banner.jpeg">
      </header>
    
<article class="page">

  <h1 style="text-align: center;">{{ page.title }}</h1>

<div class="container">
  <div class="entry">
    {{ content }}
  </div>
  </div>
</article>

<footer>
  <div class="copyright">
  Image Credit: Medical Compendium in English. <a href="https://wellcomecollection.org/works/rs9qgwh8/items">Wellcome Library, MS.5650, front cover.</a> Wellcome Collection, London.<br><br>
  	<i>A Digital Companion to Reading Practice</i> designed and built on <a href="https://github.com/readingpractice/readingpractice.github.io">GitHub pages</a> by Melissa Reynolds © 2024. 
    <br>Datasets created and published by Melissa Reynolds: <a href="https://doi.org/10.5281/zenodo.11122956">https://doi.org/10.5281/zenodo.11123120</a> and <a href="https://doi.org/10.5281/zenodo.11123120">https://doi.org/10.5281/zenodo.11123120</a>.
  	<br>
    <i>Reading Practice: The Pursuit of Natural Knowledge from Manuscript to Print</i> is a publication of the University of Chicago Press © 2024. 
  	</div>
  </footer>
