---
layout: default
---
<div class="navigation">
<div class="dropdown">
  <span><a href="{{ site.baseurl }}/">MENU</a></span>
  <div class="dropdown-content">
    <a class="dropdown-nav-item" href="{{ site.baseurl }}/manuscripts">Manuscript</a>
    <a class="dropdown-nav-child" href="{{ site.baseurl }}/manuscript-appendix-a">Appendix A</a>
    <a class="dropdown-nav-child" href="{{ site.baseurl }}/manuscript-appendix-b">Appendix B</a>
    <a class="dropdown-nav-item" href="{{ site.baseurl }}/print">Print</a>
    <a class="dropdown-nav-child" href="{{ site.baseurl }}/print-appendix-a">Appendix A</a>
    <a class="dropdown-nav-child" href="{{ site.baseurl }}/print-appendix-b">Appendix B</a>
    <a class="dropdown-nav-item" href="{{ site.baseurl }}/author">About the Author</a>
    <a class="dropdown-nav-item" href="https://press.uchicago.edu/ucp/books/book/chicago/R/bo222256991.html">Buy the Book</a>
  </div>
</div>
</div>
	
      <header class="masthead clearfix">
            <div class="wrapper-masthead">
            <div class="site-info">
            <p class="site-byline">{{ site.byline }}</p>
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
        </div>
      </div>
      <img class="banner" src="{{ site.baseurl }}/images/reading-practice-banner.jpeg">
      </header>
    
<article class="page">

  <h1 style="text-align: center;">{{ page.title }}</h1>

<div class="container">
  <div class="entry">
    {{ content }}
  </div>
  </div>
</article>
